.project__name {
    font-size: 4em;

    width: fit-content;
    margin-bottom: 20px;

    padding: 0 10px;
    
}

.project__link {
    margin: 1rem 0;
    font-size: 1.2em;
    font-weight: bold;
}

.project__info {
    margin-top: 50vh;
    text-align: initial;
    width: 60%;
}


.project__description {
    margin-bottom: 20px;
    min-height: 100px;
    padding: 5px 10px;
}

.project__link {
    cursor: pointer;
    width: fit-content;
}

.project__secondary-image {
    position: absolute;
    top: 20vh;
    left: 63vw;
    width: 30vw;
}